.agents
.env
.env.local
.env.*.local
/node_modules
/vendor
.DS_Store
*.log
.vscode
.idea
.php_cs.cache
composer.lock
package-lock.json
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/
/storage/reports/
/public/hot
/public/storage
/public/build
yarn.lock

